<div class="container mt-4">
  <h1>New Channel - <%= @codeplug.name %></h1>

  <%= link_to "â† Back to Channels", codeplug_channels_path(@codeplug), class: "btn btn-secondary mb-3" %>

  <div class="card">
    <div class="card-body">
      <%= render "form", channel: @channel %>
    </div>
  </div>
</div>
