<div class="container mt-4">
  <h1>Edit Codeplug Layout</h1>

  <div class="card mt-4">
    <div class="card-body">
      <%= render "form", codeplug_layout: @codeplug_layout %>
    </div>
  </div>
</div>
