<div class="container mt-4">
  <h1>Edit Codeplug - <%= @codeplug.name %></h1>

  <%= link_to "â† Back to Codeplug", codeplug_path(@codeplug), class: "btn btn-secondary mb-3" %>

  <div class="card">
    <div class="card-body">
      <%= render "form", codeplug: @codeplug %>
    </div>
  </div>
</div>
