<div class="container mt-4">
  <h1>Edit Zone - <%= @zone.name %></h1>

  <%= link_to "â† Back to Zone", zone_path(@zone), class: "btn btn-secondary mb-3" %>

  <div class="card">
    <div class="card-body">
      <%= render "form", zone: @zone %>
    </div>
  </div>
</div>
